* {
  padding:0;
  margin:0;
font-family:"Lato", sans-serif;
background-color:#FAFAFA;
}
.background-image {
background-image:url("https://images.unsplash.com/photo-1516594798947-e65505dbb29d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
height:80vh;
background-repeat:no-repeat;
background-size:cover;
filter:brightness(30%);
}
.search-bar {
position:absolute;
left:42%;
right:26%;
transform:translate(-40%,-50%);
top:60%;
}


.search-bar input {
  width:450px;
  height:40px;
  text-align:center;
  position:relative;
}

.icon {
  position:absolute;
  top:10px;
  right:0;
}

.search_results {
background:#fff;
display:none;
width:450px;
height:120px;
overflow:scroll;
position:fixed;
margin-top:5px;
}
.search_results div {
  padding:10px;
}

.search_results div a:hover {
color:#17a589;
cursor:pointer;
}

