  <html>
<head>
<title>Grocery - NepBazar </title>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<script src="https://kit.fontawesome.com/c96d3752b6.js" crossorigin="anonymous"></script>
<body>
<div>
  <div class="header"></div>
<div class="navbar">
<nav>
    <ul>
      <li class="navbar-item">
        <a href="/" id="logo">Nep<span id="logo-color">Bazar</span></a>
      </li>

    <li>
      <div class="dropdown">
        <select id="" name="">
          <option value="Furniture">Furniture</option>
          <option value="Medical">Medical</option>
          <option value="Grocery">Grocery</option>
        </select>
      </div>
    </li>
    <li>
    <div class="profile-menu">
      <div class="profile-image">
    <i
    class="fas fa-user-circle user-icon" ></i>
  </div>
      <div id="profile-options" class="hide">
      <div class="profile-option">Login</div>
      <div class="profile-option">Register</div>
      </div>
      </div>
    </li>
    </ul>  
  </nav>  
</div>
