{%  include "base.html" %}

<div class="container">
<div class="row">
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="{{results['item'][0]['img_url']}}" class="w-100"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">{{results['item'][0]['name']}}</a>
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted">34 reviws</span>
        </div>
        <div class="price mt-1">{{results['item'][0]['price']}}</div> <!-- price-wrap.// -->
      </figcaption>
    </div>
  </div>

</div>
</div>