{%include "auth_base.html" %}

<div class="form-container">
	<form action="">
    <div class="input-field">
    <input type="text" id="name" required />
    <label for="email">Email</label>
   </div>
   <br>
      <div class="input-field">
    <input type="text" id="name" required />
    <label for="email">Password</label>
   </div>
	<br>
   <div class="input-field">
   	<button>Login</button>
   </div>

</form>
</div>


<script src="{{url_for('static', filename='js/header.js')}}"> </script>
</body>
</html>