{% include "auth_base.html"%}

<div class="form-container">
	<div class="form-container">
	<form action="" method="POST">
  <div class="input-field">
    <input type="text" id="name" required />
    <label for="name">Name</label>
  </div>
	
	<br>
    <div class="input-field">
    <input type="text" id="name" required />
    <label for="email">Email</label>
   </div>
   <br>
      <div class="input-field">
    <input type="text" id="name" required />
    <label for="email">Password</label>
   </div>
	<br>
   <div class="input-field">
   	<button>Create an account</button>
   </div>

</form>
</div>
</div>
<script src="{{url_for('static', filename='js/header.js')}}"> </script>
</body>
</html>